#cover {
    background-color:#eb4d4b;
    height: 216px;
}
.mt12 {
    margin-top: 12px;
}
.intro {
    position: relative;
    background-color: #7ed6df;
    margin: 0 auto;
    height: 300px;
}
.feed {
    background-color: #dff9fb;
    height: 300px;

}
#profile {
    height: 120px;
    width: 120px;
    background-color: #e056fd;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    margin: 0 auto;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    #profile {
        width: 150px;
        height: 150px;
        top: -75px;
    }
    .intro {
        height: unset;
    }
    .feed {
        margin-top: 85px;
    }
  }